<footer class="footer">
  <p>Copyright (C) 2020 <a href="https://babashka.org">Michiel Borkent</a></p>
  <p>Except where otherwise noted, book.babashka.org is licensed under the <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons
Attribution-NonCommercial-NoDerivs</a> (CC BY-NC-ND 4.0).</p>
</footer>
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script> -->
<!-- <script type="text/javascript"> -->
<!-- docsearch({ -->
<!--   apiKey: '1f3d78fd63fcb687dcc1312aab02a2de', -->
<!--   indexName: 'cider', -->
<!--   inputSelector: '#search-input', -->
<!--   algoliaOptions: { 'facetFilters': ["version:0.26"] }, -->
<!--   debug: false // Set debug to true if you want to inspect the dropdown -->
<!-- }); -->
<!-- </script> -->

