<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="https://book.babashka.org">Babashka book</a>
        <!--<span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>-->
      </div>
      <!--<div class="navbar-item">
        <input id="search-input" type="text" placeholder="Search docs">
      </div>-->
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <!--<div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
              <a class="navbar-item" href="https://github.com/clojure-emacs/cider">CIDER</a>
              <a class="navbar-item" href="https://github.com/clojure-emacs/cider-nrepl">CIDER nREPL</a>
              <a class="navbar-item" href="https://github.com/clojure-emacs/orchard">Orchard</a>
              <a class="navbar-item" href="https://github.com/clojure-emacs/clojure-mode">clojure-mode</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Community</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/cider/about/support.html">Support</a>
            <a class="navbar-item" href="/cider/contributing.html">Contributing</a>
            <a class="navbar-item" href="https://opencollective.com/cider">Open Collective</a>
          </div>
        </div>
      </div>
    </div>-->
  </nav>
</header>
